.billboard{
	min-height: 100%;
	background: #0d0f1c resolve('forest.jpg') no-repeat center;
	background-size: cover;
	padding-top: 12%;
	position: relative;
	overflow: hidden;
	font-size: 16px;
	@media (max-width: 991px){
		font-size: 14px;
	}
	@media (max-width: 767px){
		font-size: 12px;
		padding-top: 20%;
	}
	@media (max-width: 480px){
		font-size: 11px;
	}
	@nest &__text{
		font-weight: 300;
		color: rgba(255,255,255,.7);
		@nest & h1{
			text-transform: uppercase;
			font-size: 5.625em;
			line-height: 0.85;
			letter-spacing: -4px;
			margin: 0;
			display: inline-block;
			clear: fix;
		}
		@nest & i{
			font-style: normal;
			padding-left: 52px;
			display: block;
			text-align: left;
			font-size: 16px;
			font-weight: 300;
			letter-spacing: initial;
			text-transform: none;
		}
		@nest & span{
			display: block;
			font-size: 32px;
			font-weight: 300;
			letter-spacing: initial;
			text-transform: none;
			text-align: center;
		}
	}
	@nest &__title{
		display: inline-block;
	}
	@nest &__nav{
		display: inline-block;
		float: right;
		margin-top: 17px;
	}
	@nest &__bottom{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding-bottom: 30px;
	}
}