/*! global */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600&subset=latin,cyrillic);

:root {
	--mainFont: 'Open Sans', sans-serif;
	--mainColor: #1ab394;
	--mainTextColor: #0c0c17;
	--fontSize: 16px;
	--greyBg: #f5f5fa;
}

html,body{
	height: 100%;
	font-family: var(--mainFont);
	font-size: var(--fontSize);
	color: var(--mainTextColor);
	min-width: 303px;
	background: #fff;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}

img{
	max-width: 100%;
	height: auto;
}

.wrapper{
	height: 100%;
}

.container{
	margin: auto;
	width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	clear: fix;
	@media (max-width: 1199px){
		width: 974px
	}
	@media (max-width: 991px){
		width: 750px
	}
	@media (max-width: 767px){
		width: 100%;
	}
}