.row{
	margin-left: -15px;
	margin-right: -15px;
	clear: fix;
}
.col{
	padding-left: 15px;
	padding-right: 15px;
	float: left;
	width: 100%;
}

@media (min-width: 768px){
	.col{
		@nest &_sm{
			@nest &-4{
				width: 33.33333333333%;
			}
			@nest &-6{
				width: 50%;
			}
		}
	}
}
@media (min-width: 992px){
	.col{
		@nest &_md{
			@nest &-4{
				width: 33.33333333333%;
			}
		}
	}
}