.nav{
	@nest &-list{
		padding-left: 0;
		list-style: none;
		margin: 0;
		font-size: 10px;
		@media (min-width: 768px){
			display: block !important;
		}
		@media (max-width: 767px){
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0,0,0,.8);
			z-index: 10;
			text-align: center;
			padding-top: 30%;
			font-size: 11px;
		}
		@nest &__item{
			display: inline-block;
			margin-left: 20px;
			color: rgba(255, 255, 255, 0.7);
			font-weight: 400;
			@media (max-width: 767px){
				display: block;
				margin-bottom: 40px;
				margin-left: 0;
			}
			@nest &_active{
				color: #fff;
				@nest & a{
					@nest &:hover{
						cursor: default !important;
					}
					@nest &:after{
						transform: scale(1) !important;
					}
				}
			}
		}
		@nest & a{
			color: inherit;
			text-decoration: none;
			position: relative;
			display: inline-block;
			text-transform: uppercase;
			transition: color 300ms;
			@nest &:after{
				content: '';
				position: absolute;
				height: 1px;
				left: 0;
				width: 100%;
				bottom: -5px;
				transform: scale(0);
				transition: transform 300ms;
				background: var(--mainColor);
			}
			@nest &:hover{
				color: #fff;
				@nest &:after{
					transform: scale(1);
				}
			}
		}
	}
}