.nav{
	@nest &-list{
		padding-left: 0;
		list-style: none;
		margin: 0;
		text-transform: lowercase;
		@nest &__item{
			display: inline-block;
			margin-left: 20px;
		}
		@nest & a{
			color: #fff;
			text-decoration: none;
			position: relative;
			display: block;
			@nest &:after{
				content: '';
				position: absolute;
				height: 2px;
				left: 0;
				width: 100%;
				bottom: -5px;
				transform: scale(0);
				transition: transform 300ms;
				background: var(--mainColor);
			}
			@nest &:hover{
				@nest &:after{
					transform: scale(1);
				}
			}
		}
	}
}